<!DOCTYPE html>
<html ng-app="dashboard">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Congressus | Admin</title>

        <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
        
        <link rel="stylesheet" href="css/dashboard.css">
    </head>
    <body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" id="sidebarCollapse" href="javascript:void()">
						<i class="glyphicon glyphicon glyphicon-align-justify"></i>
					</a>
				</div>
	
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">
								Link <span class="sr-only">(current)</span>
							</a>
						</li>
						<li><a href="#">Link</a></li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Dropdown 
							</a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Action</a></li>
				            <li><a href="#">Another action</a></li>
				            <li><a href="#">Something else here</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Separated link</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">One more separated link</a></li>
				          </ul>
				        </li>
					</ul>
				</div>
			</div>
		</nav>
		
        <div class="wrapper" ng-controller="menuController">
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <h3>Congressus Admin</h3>
                    <strong>CA</strong>
                </div>

                <ul class="list-unstyled components">
                    <li ng-repeat="item in itens | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                        <a href="{{item.subItem.length > 0 ? '#'+item.id+'-subitem' : '#'+item.link }}"  
                           data-toggle="{{item.subItem.length > 0 ? 'collapse' : ''}}">
                            <i class="glyphicon {{item.icone}}"></i>
                            {{item.nome}}
                        </a>
                        <ul ng-show="item.subItem.length > 0" class="collapse list-unstyled" id="{{item.id}}-subitem">
                            <li  ng-repeat="subItem in item.subItem"><a href="{{subItem.link}}">{{subItem.nome}}</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="#"  class="download">Download source</a></li>
                    <li><a href="#" class="article">Back to article</a></li>
                </ul>
            </nav>

            <div id="content">
            	<div ng-view></div>
            </div>
        </div>


		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/bootstrap/bootstrap.min.js"></script>
<!-- 		<script src=lib/angular/angular.min.js></script> -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
		
		<script src="js/dashboard.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
			    $('#sidebarCollapse').on('click', function () {
			        $('#sidebar').toggleClass('active');
			    });
			});
		</script>
	</body>
</html>
